################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Portal/Portal/bin/Debug/netcoreapp3.1
