@model Portal.Models.Admin

@{
    ViewData["Title"] = "Edit";
}
<style>
    .row {
        margin-left: -100px;
    }
    .Save {
        margin-left: -80px;
    }
    .TableGradesPrelim {
        position: absolute;
        float: left;
        top: 75px;
        margin-left:250px;
        margin-bottom: 10px;
    }
    .TableGradesMidterm {
        position: absolute;
        float: left;
        top: 107px;
        margin-left: 750px;
        margin-bottom: 10px;
    }
    .TableGradesPrefinals {
        position: absolute;
        float: left;
        top: 410px;
        margin-left: 250px;
        
    }
    .TableGradesFinals {
        position: absolute;
        float: left;
        top: 410px;
        margin-left: 750px;
        
    }

    table {
        width: 480px;
        
    }
    th, td {
        align-content: center;
        height: 20px; 
    }
    .gra{
        margin-left:450px;
    }
</style>

<form asp-action="Edit">
    <h5 class="Save">Student Information</h5>
    <div class="row">

        <div class="col-md-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="StudentID" class="control-label"></label>
                <input asp-for="StudentID" class="form-control" />
                <span asp-validation-for="StudentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Last_Name" class="control-label"></label>
                <input asp-for="Last_Name" class="form-control" />
                <span asp-validation-for="Last_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="First_Name" class="control-label"></label>
                <input asp-for="First_Name" class="form-control" />
                <span asp-validation-for="First_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Birthdate" class="control-label"></label>
                <input asp-for="Birthdate" class="form-control" />
                <span asp-validation-for="Birthdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>
    </div>


    <!--PRELIM-->

    <div class="table TableGradesPrelim">
        <h5 class="gra">Grades</h5>
        <table class="Prelim">
            <thead class="thead-dark">
                <tr>
                    <th colspan="2">Preliminary Grade</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <thead class="thead-light">
                <tr>
                    <th> </th>
                    <th>#1</th>
                    <th>#2</th>
                    <th>#3</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Quizzes</td>
                    <td>
                        <input asp-for="Pq1" class="form-control" />
                        <span asp-validation-for="Pq1" class="text-danger"></span>
                    </td>
                    <td>
                        <input asp-for="Pq2" class="form-control" />
                        <span asp-validation-for="Pq2" class="text-danger"></span>
                    </td>
                    <td>
                        <input asp-for="Pq3" class="form-control" />
                        <span asp-validation-for="Pq3" class="text-danger"></span>
                    </td>
                    <td>
                        <input asp-for="PqAve" class="form-control" />
                        <span asp-validation-for="PqAve" class="text-danger"></span>
                    </td>

                </tr>
                <tr>
                    <td>Assignment</td>
                    <td>
                        <input asp-for="Pa1" class="form-control" />
                        <span asp-validation-for="Pa1" class="text-danger"></span>
                    </td>
                    <td>
                        <input asp-for="Pa2" class="form-control" />
                        <span asp-validation-for="Pa2" class="text-danger"></span>
                    </td>
                    <td>
                        <input asp-for="Pa3" class="form-control" />
                        <span asp-validation-for="Pa3" class="text-danger"></span>
                    </td>
                    <td>
                        <input asp-for="PaAve" class="form-control" />
                        <span asp-validation-for="PaAve" class="text-danger"></span>
                    </td>
                </tr>
                <tr class="bg-secondary text-light">
                    <td colspan="4">Total Average</td>

                    <td>
                        <input asp-for="Prelim" class="form-control" />
                        <span asp-validation-for="Prelim" class="text-danger"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!--MIDTERM-->
    <div class="table TableGradesMidterm">
        <table class="Midterm">
            <thead class="thead-dark">
                <tr>
                    <th colspan="2">Midterm Grade</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <thead class="thead-light">
                <tr>
                    <th> </th>
                    <th>#1</th>
                    <th>#2</th>
                    <th>#3</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Quizzes</td>
                    <td>
                        <input asp-for="Mq1" class="form-control" />
                        <span asp-validation-for="Mq1" class="text-danger"></span>
                    </td>
                    <td>
                        <input asp-for="Mq2" class="form-control" />
                        <span asp-validation-for="Mq2" class="text-danger"></span>
                    </td>
                    <td>
                        <input asp-for="Mq3" class="form-control" />
                        <span asp-validation-for="Mq3" class="text-danger"></span>
                    </td>
                    <td>
                        <input asp-for="MqAve" class="form-control" />
                        <span asp-validation-for="MqAve" class="text-danger"></span>
                    </td>

                </tr>
                <tr>
                    <td>Assignment</td>
                    <td>
                        <input asp-for="Ma1" class="form-control" />
                        <span asp-validation-for="Ma1" class="text-danger"></span>
                    </td>
                    <td>
                        <input asp-for="Ma2" class="form-control" />
                        <span asp-validation-for="Ma2" class="text-danger"></span>
                    </td>
                    <td>
                        <input asp-for="Ma3" class="form-control" />
                        <span asp-validation-for="Ma3" class="text-danger"></span>
                    </td>
                    <td>
                        <input asp-for="MaAve" class="form-control" />
                        <span asp-validation-for="MaAve" class="text-danger"></span>
                    </td>
                </tr>
                <tr class="bg-secondary text-light">
                    <td colspan="4">Total Average</td>

                    <td>
                        <input asp-for="Midterm" class="form-control" />
                        <span asp-validation-for="Midterm" class="text-danger"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!--PREFINALS-->

    <div class="table TableGradesPrefinals">
        <table class="Prefinals">
            <thead class="thead-dark">
                <tr>
                    <th colspan="2">Pre-Final Grade</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <thead class="thead-light">
                <tr>
                    <th> </th>
                    <th>#1</th>
                    <th>#2</th>
                    <th>#3</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Quizzes</td>
                    <td>
                        <input asp-for="Pfq1" class="form-control" />
                        <span asp-validation-for="Pfq1" class="text-danger"></span>
                    </td>
                    <td>
                        <input asp-for="Pfq2" class="form-control" />
                        <span asp-validation-for="Pfq2" class="text-danger"></span>
                    </td>
                    <td>
                        <input asp-for="Pfq3" class="form-control" />
                        <span asp-validation-for="Pfq3" class="text-danger"></span>
                    </td>
                    <td>
                        <input asp-for="PfqAve" class="form-control" />
                        <span asp-validation-for="PfqAve" class="text-danger"></span>
                    </td>

                </tr>
                <tr>
                    <td>Assignment</td>
                    <td>
                        <input asp-for="Pfa1" class="form-control" />
                        <span asp-validation-for="Pfa1" class="text-danger"></span>
                    </td>
                    <td>
                        <input asp-for="Pfa2" class="form-control" />
                        <span asp-validation-for="Pfa2" class="text-danger"></span>
                    </td>
                    <td>
                        <input asp-for="Pfa3" class="form-control" />
                        <span asp-validation-for="Pfa3" class="text-danger"></span>
                    </td>
                    <td>
                        <input asp-for="PfaAve" class="form-control" />
                        <span asp-validation-for="PfaAve" class="text-danger"></span>
                    </td>
                </tr>
                <tr class="bg-secondary text-light">
                    <td colspan="4">Total Average</td>

                    <td>
                        <input asp-for="Prefinals" class="form-control" />
                        <span asp-validation-for="Prefinals" class="text-danger"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!--FINALS-->

    <div class="table TableGradesFinals">
        <table class="Finals">
            <thead class="thead-dark">
                <tr>
                    <th colspan="2">Finals Grade</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <thead class="thead-light">
                <tr>
                    <th> </th>
                    <th>#1</th>
                    <th>#2</th>
                    <th>#3</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Quizzes</td>
                    <td>
                        <input asp-for="Fq1" class="form-control" />
                        <span asp-validation-for="Fq1" class="text-danger"></span>
                    </td>
                    <td>
                        <input asp-for="Fq2" class="form-control" />
                        <span asp-validation-for="Fq2" class="text-danger"></span>
                    </td>
                    <td>
                        <input asp-for="Fq3" class="form-control" />
                        <span asp-validation-for="Fq3" class="text-danger"></span>
                    </td>
                    <td>
                        <input asp-for="FqAve" class="form-control" />
                        <span asp-validation-for="FqAve" class="text-danger"></span>
                    </td>

                </tr>
                <tr>
                    <td>Assignment</td>
                    <td>
                        <input asp-for="Fa1" class="form-control" />
                        <span asp-validation-for="Fa1" class="text-danger"></span>
                    </td>
                    <td>
                        <input asp-for="Fa2" class="form-control" />
                        <span asp-validation-for="Fa2" class="text-danger"></span>
                    </td>
                    <td>
                        <input asp-for="Fa3" class="form-control" />
                        <span asp-validation-for="Fa3" class="text-danger"></span>
                    </td>
                    <td>
                        <input asp-for="FaAve" class="form-control" />
                        <span asp-validation-for="FaAve" class="text-danger"></span>
                    </td>
                </tr>
                <tr class="bg-secondary text-light">
                    <td colspan="4">Total Average</td>

                    <td>
                        <input asp-for="Finals" class="form-control" />
                        <span asp-validation-for="Finals" class="text-danger"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br />
    <div class="form-group Save">
        <input type="submit" value="Save" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

